/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f0e1; /* Light brown background color */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.taskbar {
  background-color: #875e31; /* Brown taskbar color */
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.go-home {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #634422; /* Darker brown button color */
}

.go-home:hover {
  background-color: #472d16; /* Darker brown on hover */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

label, input, textarea {
  display: block;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the input placeholder */
input::placeholder {
  color: #ccc;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #875e31; /* Light brown button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #634422; /* Darker brown color on hover */
}
