body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9; /* Light background color */
}

.navbar {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    background-color: #D2B48C; /* Light brown color */
    overflow: hidden;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    color: lightgray;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50; /* Dark green color */
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #F5F5DC; /* Beige color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #000; /* Black button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Darker shade of black for hover */
}

#submissionMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
