body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.header-buttons button {
  margin-left: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

.logout-button {
  background-color: #e74c3c; /* Red color for logout button */
}

.logout-button:hover {
  background-color: #c0392b;
}
