body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e5d1; /* Light brown background color */
}

.container {
  max-width: 800px;
  margin: 20px auto; /* Added margin to center the container */
  padding: 20px;
  text-align: center; /* Center align text */
}

header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.header-buttons {
  margin-top: 10px; /* Adjusted top margin */
  margin-right: 20px; /* Adjusted right margin */
}

.header-buttons button {
  margin-left: 10px;
}

h1 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px;
}

a {
  text-decoration: none; /* Remove underline from links */
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

button {
  padding: 15px 30px; /* Adjusted padding for larger buttons */
  background-color: #d2a172; /* Light brown button color */
  border: none;
  color: #fff;
  font-size: 18px; /* Increased font size */
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b7844f; /* Darker brown on hover */
}


/* Adjust chat embed positioning and size */
#rml-room-1 {
  margin-top: 20px;
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
